.table-row-action tbody tr {
    cursor: pointer;
}

.table-row-action tbody tr:hover {
    background-color: #2A72B5;
    color: #FFF;
}

.form-toolbar {
    margin-bottom: 10px;
}

.form-small .form-group {
    margin-bottom: 5px;
}
.form-small.form-horizontal .control-label {
    text-align: left;
}
.form-small input[type="checkbox"], input[type="radio"] {
    margin: 8px 0 0;
}

.form-small textarea {
    height: 100px;
}

.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus {
    border: none !important;
    background: #348fe2 !important;
    color: #fff !important;
    margin: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    
}

.sublayout-frame {
    width: 100%;
    border: 0px;
    overflow: hidden;            
}